@font-face {
   font-family: 'Shadows Into Light';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/saru/Documents/parakram.github.io/team//fonts/Shadows Into Light/regular.ttf') format('truetype');
}
